@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    font: 15px/1.5 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/* Globals */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* Nav */

header {
    background-color: #366F8E;
    color: #ffffff;
    padding-top: 10px;
    min-height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .current a{
    color: #FF6939;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Title Showcase */
#title-showcase {
    min-height: 400px;
    background: url('../images/title-back.png') no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
}

#title-showcase h1 {
    margin-top: 100px;
    font-size: 70px;
    margin-bottom: 10px;
}

#title-showcase p {
    font-size: 22px;

}

/* Services */
#services {
    text-align: center;
}

#services h1 {
    color: #4F4F4F;
}

#services ul {
    float: left;
    width: 30%;
}

#services .offerings {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#services .offerings ul {
    flex: 0 0 33%;
}

#services .pictures {
    margin-top: 20px;
    text-align: center;
    text-align: center;
}

#services .pictures img{
    max-width: 200px;
    display: inline-block;
}

@media (max-width: 768px) {

    header {
        padding-bottom: 10px;
    }

    header .container{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    header #branding{
        float: none;
        text-align: center;
        width: 100%;
    }

    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    #title-showcase {
        padding-top: 30px;
    }

    #title-showcase h1 {
        font-size: 42px;
    }

    #title-showcase p {
        font-size: 18px;
    }

    #services .offerings {
      margin-top: 0;
      flex-direction: column;
      padding: 15px;
      text-align: left;
      width: 100%;
    }

    #services .container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #services ul {
        width: 100%;
    }

    #services .pictures img {
        max-width: 45%;
    }

    #services .container-pic {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}